<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
</head>
   <body>
      <h3>Blog Posts - Flask SQLAlchemy example</h3>
      <hr/>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for = "title">Title</label><br>
         <input type = "text" name = "title" placeholder = "Title" /><br>
         <label for = "content">Content</label><br>
         <input type = "text" name = "content" placeholder = "content" /><br>
         <input type = "submit" value = "Submit" />
      </form>

   </body>
</html>
