{% block content %}
<div id="intro">
<div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>We are <span class="brand-heading">ACM</span></h1>
          <p class="intro-text">Association for Computing Machinery (University of Puget Sound Computer Science Student Chapter)</p>
          <a href="#about" class="btn btn-default page-scroll">Learn More</a> </div>
      </div>
    </div>
  </div>
 </div>
{% endblock %}