<div id="services" class="text-center content_panel">

<div class="container">
    <div class="section-title center">
      <h2>Our Services</h2>
      <hr>
    </div>

    <div class="space"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="service"> <i class="fa fa-desktop"></i>
          <h3>Projects</h3>
          <p>ACM Projects range from rover and robot hardware development using Arduinos and Raspiberry Pis to developing web applications for practical use.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service"> <i class="fa fa-cogs"></i>
          <h3>Research</h3>
          <p>Researching controversial Computer Science topics, such as: Big Data and Artificial Intelligence, Cloud Computing and Parallel Computing, or P vs NP Problem and Human Computer Interaction.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service"> <i class="fa fa-tablet"></i>
          <h3>Log<sub>2</sub> Talks</h3>
          <p>A Computer Science related presentation (e.g. "Javascript Prototypes", "Robots.txt", etc.) delivered to inspire the community to explore what others have discovered.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service"><i class="fa fa-html5"></i>
          <h3>Web Ops</h3>
          <p>Learn database management and design using SQLAlchemy, frontend and backend software development using Python and Flask, and web development using Bootstrap.</p>
        </div>
      </div>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="service"><i class="fa fa-wordpress"></i>
          <h3>Competitions</h3>
          <p>Compete in the ACM International Collegiate Programming Competition, Dubhacks, Expedia Hackathon, or Code for the Kingdom.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service"><i class="fa fa-bullhorn"></i>
          <h3>Outreach</h3>
          <p>Attend top tier conferences for research and experience, technical career fairs for connections and ideas, or volunteer to code online and at schools around the world.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service"><i class="fa fa-rocket"></i>
          <h3>Student Membership</h3>
          <p>As a Chapter Member, you are a part of an evergrowing Computer Science community in the world, the largest in existence.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="service"><i class="fa fa-leaf"></i>
          <h3>Celebrate</h3>
          <p>Collaborate and converse with fellow Computer Science students and faculty about mutual interests.</p>
        </div>
      </div>
    </div>
  </div>
