{% extends "base.html" %}

{% block title %} Error 404 {% endblock %}

{% block head %}{% endblock %}

{% block content %}
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
					<li><a href="#">Features</a><i class="icon-angle-right"></i></li>
					<li class="active">404 Not found</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
				<h2 class="error">:(</h2>
				<p class="lead">What you were looking for is just not there...</p>
				<p><a href="/index">Back to base!</a></p>
				</div>
		</div>
		</div>
	</div>
	</section>
{% endblock %}
