<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}">
    {% if title %}
    <title>{{ title }} - ACM</title>
    {% else %}
    <title>Welcome to ACM</title>
    {% endif %}
</head>
<body>
    <div id='head'>
        <center><p>UPS-ACM</p></center>
        <center><p>{{ page }}</p></center>
    </div>
    <div id='navigation_bar'>
        <center><ul>
            <li><a href="{{ url_for('index') }}">HOME</a></li>
            <li><a href="{{ url_for('index') }}">NEWS</a></li>
            <li><a href="{{ url_for('index') }}">CONTACT</a></li>
            <li><a href="{{ url_for('about') }}">ABOUT</a></li>
        </ul></center>
    </div>
    <hr>
    <div id='calendar'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }} </li>
          {% endfor %}
          <ul>
             {% endif %}
             {% endwith %}
             <center>{% block content %}{% endblock %}</center>
         </div>
         <footer>
            <section id='footer'>
                <div id='contacts'>
                    <p id='upsacm'>
                        UPS-ACM
                    </p>
                    <p>
                        Contact information: 
                        <a href='mailto:lmfao@pugetsound.edu'>lmfao@pugetsound.edu
                        </a>
                    </p>
                    <p>
                        Phone: 123-456-7890
                    </p>
                </div>
            </section>
        </footer>
    </body>
    </html>