<!DOCTYPE html>
<html lang="en">

<!-- Real Head -->
<head>
{% block head %}
<title>{% block title %}{% endblock %} - UPS-ACM</title>
{% endblock %}
</head>

<!-- Body  -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- preloader fucks our shit up fix this pls -->
<!-- preloader
<div id="preloadModuser">
  <div id="status"> <img src="img/preloader.gif" height="64" width="64" alt=""> </div>
</div>
-->

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
{% block nav %}{% endblock %}
</nav>

{% block content %}






{% endblock %}

<!-- SCRIPTS OF ALL KINDS -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script type="text/javascript" src="js/jquery.1.11.1.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script type="text/javascript" src="js/bootstrap.js"></script> 
<script type="text/javascript" src="js/SmoothScroll.js"></script> 
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script> 
<script type="text/javascript" src="js/jquery.isotope.js"></script> 
<script type="text/javascript" src="js/jquery.parallax.js"></script> 
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="js/contact_me.js"></script> 

<!-- Javascripts
    ================================================== --> 
<script type="text/javascript" src="js/main.js"></script>


</body>

</html>